.glow-button:hover{
    color: rgba(255, 255,255, 1);
    box-shadow: 0 5px 15px rgba(145, 92,182, .4);
}

canvas#canvas {
    height: 100%;
}

body#body{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    background-color: rgb(48, 69, 87);
}

div#gameBoard{
    width: 50%;
    height: 100%;
    text-align: center;
    color: #fff;
}

.gameBoard .header{
    align-items: center;
    padding: 50px;
    opacity: 1;
}

.gameBoard .header span{
    font-size: 20px;
    width: 70px;
    padding: 0;
}

.chest{
    display: block;
    margin-top: -50px;
    margin-bottom: 0 auto;
    margin-left: 180px;
    margin-right: 0 auto;
    width: 300px;
    height: 300px;
    background-size: 100%;
    background: url(../img/Chest.PNG) 0 0 no-repeat;
    align-self:center;
    animation-play-state: paused;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    opacity: 0;
}

.open{
    background: url(../img/Chest.gif) 0 0 no-repeat;
}
.openP{
    background: url(../img/Open.PNG) 0 0 no-repeat;
}

div#gamePane{
    background-color: aqua;
}

button#Play{
        margin-top: 30px;
        margin-right: 20px;
        width: 90px;
        height: 40px;
        text-decoration: none;
        color: rgba(255, 255,255, 0.8);
        background: rgb(145, 92, 182);
        padding: 5px;
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
        top: 20px;
}

button#Guide{
    margin-top: 30px;
    width: 90px;
    height: 40px;
    text-decoration: none;
    color: rgba(255, 255,255, 0.8);
    background: rgb(145, 92, 182);
    padding: 5px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    top: 20px;
}

.head{
    font-size: large;
    width: 50%;
    top: 20%;
    color: rgb(238, 8, 8);
}